$footer-height: 80px;

$color-white: #fff;
$color-black: #000;
$color-yellow: #ebdd32;

$color-light: $color-white;
$color-dark: $color-black;
$color-theme: $color-yellow;

$color-hover-light: $color-white;
$color-hover-dark: $color-yellow;

$color-menu-titles: $color-black;
$color-box-background: $color-yellow;


/*============================================
      HTML BODY RESET
 ============================================*/
html,
body {
  margin:0;
  padding:0;
  height:100%;
}


/*============================================
      WRAPPER, HEADER, CONTENT, FOOTER
 ============================================*/
.container {
    height: 100%;
    min-height: 100%;
    position: relative;

    #header {
        padding:10px;
    }

    #middle {
        padding:10px 0;
        padding-bottom:$footer-height;   /* Height of the footer element */
        overflow: auto;
    }

    .footer {
        width:100%;
        position:relative;
        margin-top: -$footer-height;
        height:$footer-height;
        clear: both;
        padding: 1em;
    }
}


/*============================================
                CONTAINERS
 ============================================*/



/*============================================
                HELPER CLASSES
 ============================================*/
.relative {
    position: relative;
}

.center {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    margin: auto;
}
.circle {
    border-radius: 50%;
}

.background-fill-color {
    background: $color-theme;
}
.background-fill-light {
    background: $color-light;
}
.background-fill-dark {
    background: $color-dark;
}