.manual-item {
    padding: 2em;
    margin: 0 0 6em;
}

.manual-image {



    left: 5%;
    bottom: 45%;
    transition: opacity 0.4s ease;

    @media #{$large-up} {
        position: fixed;
        opacity:0;
    }


    &.selected {
        opacity: 1;
    }
}
