$menu-width: 250px;
$menu-slide-time: 0.4s;
$color-menu-background: $color-yellow;
$color-icon: $color-dark;
$icon-animation-speed: 0.3s;	// animation speed
$icon-scale: 0.8;			  // icon scale 68/68 default


html,
body,
.container,
.content-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.content-wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
//    transform: translate3d(0,0,0);  //SLIDES THE PAGE OVER TO THE RIGHT WHEN MENU IS OPENED BUT CANT HAVE MENU FIXED
//    transition: transform 0.1s;
//    transition-timing-function: ease-in;

    .open & {
//        transform: translate3d(150px,0,0);
//        transition: transform 0.3s;
//        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
}



/* Menu */
.main-menu-wrap {
    position: absolute;
    z-index: $z-index-menu;
    width: $menu-width;
    height: 100%;
    padding: 95px 1em 0;
    font-size: 1.15em;
    background: $color-menu-background;
    transform: translate3d(-$menu-width,0,0);
    transition: transform $menu-slide-time/2;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    &.open  {
        transform: translate3d(0,0,0);
        transition: transform $menu-slide-time;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    a {
        color: $color-menu-titles;
        &:hover, &:focus {
            color: $color-hover-light;
        }
    }
}

.main-menu,
.icon-list {
    height: 100%;
}

.icon-list {

    .open &,
    .open & a {
        transform: translate3d(0,0,0);
        transition: transform $menu-slide-time;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    li {
        $color-line: rgba(165, 164, 157, 0.5);

        border-top: 1px solid $color-line;
        &:last-of-type{
            border-bottom: 1px solid $color-line;
        }
    }

    a {
        display: block;
        padding: 0.8em;
        font-weight: 700;
        border-top: rgba(165, 164, 157, 0.5);

        transform: translate3d(-100px, 0,0);
        transition: transform 0s $menu-slide-time + 0.3;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

        .open & {
            transition-duration: $menu-slide-time + 0.3;
        }
    }
}


.hamburglar {
    transform: scale($icon-scale);
    position: fixed;
    display: block;
    width: $menu-width + 68px;
    height: 68px;
//    background: $color-menu-background;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    z-index: $z-index-menu;

    transform: translate3d(-$menu-width,0,0);
    transition: transform $menu-slide-time/2;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    &.is-open  {
        transform: translate3d(0,0,0);
        transition: transform $menu-slide-time;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
}

.menu-text {
    position: absolute;
    right: -50px;
    font-size: 1.2em;
}

.burger-icon {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px;
    right: 0;
}

.burger-container {
    position: relative;
    height: 28px;
    width: 36px;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    background: $color-icon;
}

.burger-bun-top {
    top: 0;
    transform-origin: 34px 2px;
}

.burger-bun-bot {
    bottom: 0;
    transform-origin: 34px 2px;
}

.burger-filling {
    top: 12px;
}


// bun animations
.hamburglar.is-open {
    .burger-bun-top {
        -webkit-animation: bun-top-out $icon-animation-speed linear normal;
        -webkit-animation-fill-mode:forwards;
    }
    .burger-bun-bot {
        -webkit-animation: bun-bot-out $icon-animation-speed linear normal;
        -webkit-animation-fill-mode:forwards;
    }
}
.hamburglar.is-closed {
    .burger-bun-top {
        -webkit-animation: bun-top-in $icon-animation-speed linear normal;
        -webkit-animation-fill-mode:forwards;
    }
    .burger-bun-bot {
        -webkit-animation: bun-bot-in $icon-animation-speed linear normal;
        -webkit-animation-fill-mode:forwards;
    }
}

@-webkit-keyframes bun-top-out {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    100% {
        left: -5px;
        top: 1px;
        transform: rotate(-45deg);
    }
}

@-webkit-keyframes bun-bot-out {
    0% {
        left: 0;
        transform: rotate(0deg);
    }
    100% {
        left: -5px;
        transform: rotate(45deg);
    }
}


@-webkit-keyframes bun-top-in {
    0% {
        left: -5px;
        bot: 0;
        transform: rotate(-45deg);
    }
    100% {
        left: 0;
        bot: 1px;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes bun-bot-in {
    0% {
        left: -5px;
        transform: rotate(45deg);
    }

    100% {
        left: 0;
        transform: rotate(0deg);
    }
}


// burger filling
.hamburglar.is-open {
    .burger-filling {
        -webkit-animation: burger-fill-out $icon-animation-speed linear normal;
        -webkit-animation-fill-mode:forwards;
    }
}

.hamburglar.is-closed {
    .burger-filling {
        -webkit-animation: burger-fill-in $icon-animation-speed linear normal;
        -webkit-animation-fill-mode:forwards;
    }
}

@-webkit-keyframes burger-fill-in {
    0% {
        width: 0;
        left: 36px;
    }
    100% {
        width: 36px;
        left: 0px;
    }
}

@-webkit-keyframes burger-fill-out {
    0% {
        width: 36px;
        left: 0px;
    }
    100% {
        width: 0;
        left: 36px;
    }
}