.picture-interview {
    height: 100%;
    width: 100%;
    h1 {
        position: absolute;
        text-align: center;
        width: 100%;
        z-index: 1;
        font-size: 1.375rem;
        padding-top: 16px;
        @media #{$medium-up} {
            font-size: 2.375rem;
            padding-top: 0;
        }
    }
    .slide {
        height:100%;
        width: 100%;
        position: relative;
        background: #ddd;

        // FOR TESTING
//        &:nth-of-type(even){
//            background: #ccc;
//        }
//        &:nth-of-type(odd){
//            background: #6cc;
//        }

        .image {
            height: 100%;
            width: 100%;

            img {
                max-height: 80%;
                max-width: 100%;
                width: auto;

                position: absolute;
                top: -40px;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .label {
            margin: 0;
            bottom: 0;
            position: absolute;
            width: 100%;
        }
    }
}




.trigger-scroll {
    position: fixed;
    bottom: 5em;
    right: 5em;
    color: black;

    &.go-to-top {
        transform: rotate(180deg);
    }
}