.video-placeholder {
    display: block;
}

.video-container {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    max-width: 600px;
    height: 70%;
    display: none;
    opacity: 0;
    z-index: $z-index-overlay+1;
    transition: opacity 0.3s ease;
    &.show {
        opacity: 1;
        display: block;
        transition: opacity 1.6s ease;
    }
}
